* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}


/* note fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
h1,
h2,
p,
a,
button {
    font-family: 'Raleway', sans-serif;
    color: #555;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

p {
    font-size: 1.2em;
}

body {
    background-color: black;
}

#homebanner {
    background-image: url('../images/foodscollection.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0px;
    padding: 0px;
    height: 780px;
}

#menubanner {
    background-image: url('../images/menubanner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0px;
    padding: 0px;
    height: 300px;
}

#contactbanner {
    background-image: url('../images/contactbanner3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0px;
    padding: 0px;
    height: 450px;
}

#thanksbanner {
    background-image: url('../images/contactbanner3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0px;
    padding: 0px;
    height: 400px;
}


/* For mobile devices */

@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
        background-image: url(../images/foodscollection-mobile.png);
    }
}


/* note navbar */

.topnavbar {
    padding: 0;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
    width: 1050px;
}

.topnavbar li {
    float: left;
    list-style-type: none;
    width: 15%;
    text-align: center;
}

.topnavbar ul {
    margin: 0 auto;
}

.topnavbar a {
    text-decoration: none;
    display: block;
    color: #fff;
}

.topnavbar a:hover {
    color: #AF473C;
}

#welcomebtn {
    margin-left: 100px;
}

#logo {
    height: 80px;
    width: 120px;
    margin: 0 auto;
    display: block;
    border-color: transparent;
}

#homebanner h1 {
    font-weight: 200;
    text-align: center;
    color: white;
    margin: 420px auto 0 auto;
}

#menubanner h1 {
    font-weight: 200;
    text-align: center;
    color: white;
    margin: 80px auto 0 auto;
    font-size: 2.4em;
}

#contactbanner h1 {
    font-weight: 200;
    text-align: center;
    color: white;
    margin: 80px auto 0 auto;
    font-size: 2.4em;
}

#contactbanner p {
    font-weight: 100;
    text-align: center;
    color: white;
    margin: 10px auto 0 auto;
}

#seemenuBtn {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
    display: block;
    font-size: 1.2em;
}

#seemenuBtn:hover {
    background-color: #AF473C;
    border: 2px solid #AF473C;
    color: white;
}

.secondnav {
    padding-bottom: 20px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    width: 520px;
}

.secondnav li {
    float: left;
    list-style-type: none;
    width: 20%;
    text-align: center;
}

.secondnav ul {
    margin: 0 auto;
}

.secondnav a {
    text-decoration: none;
    display: block;
    color: #dbbe21;
}

.secondnav a:hover {
    text-decoration: underline;
    color: white;
}


/* note aboutSection */

#aboutSection {
    background-color: white;
    height: 320px;
    display: block;
    clear: both;
    padding-top: 20px;
}

.storyicon {
    display: block;
    margin: 10px auto;
    width: 100px;
}

#aboutSection h1,
p {
    text-align: center;
    line-height: 1.8em;
}

#aboutSection h1 {
    color: #AF473C;
}

#aboutSection p {
    margin: 20px 100px;
}


/* note menuSection */

#menuSection {
    background-color: #fff;
    height: 450px;
    width: 50%;
    background-image: url(../images/menuphoto.png);
    background-repeat: none;
    float: left;
}

.menu-content {
    height: 450px;
    overflow: hidden;
    margin-top: 50px;
}

.menu-content h1,
.menu-content p {
    margin: 20px 100px 0 100px;
    color: white;
    text-align: center;
    line-height: 1.8em;
}

#viewmenuBtn {
    background-color: transparent;
    border: 2px solid #AF473C;
    color: #AF473C;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    font-size: 1.2em;
}

#viewmenuBtn:hover {
    background-color: #AF473C;
    color: white;
}


/* note contactSection */

#contactSection {
    background-color: #fff;
    height: 450px;
    width: 50%;
    background-image: url(../images/locationimg.png);
    background-repeat: none;
    background-size: cover;
    float: right;
}

.contact-content {
    height: 450px;
    overflow: hidden;
    margin-top: 50px;
}

.contact-content h1,
.contact-content p {
    margin: 20px 100px 0 100px;
    color: white;
    text-align: center;
    line-height: 1.8em;
}

#getlocationBtn {
    background-color: transparent;
    border: 2px solid #AF473C;
    color: #AF473C;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
    display: block;
    font-size: 1.2em;
}

#getlocationBtn:hover {
    background-color: #AF473C;
    color: white;
}


/* note reservationSection */

#reservationSection {
    background-color: #fff;
    height: 480px;
    background-image: url(../images/1234.png);
    background-repeat: none;
    background-size: cover;
    clear: both;
}

.reservation-content {
    height: 480px;
    margin-top: 50px;
    clear: both;
}

.reservation-content h1,
.reservation-content p {
    margin: 10px 100px 0 100px;
    color: black;
    text-align: center;
    line-height: 1.8em;
}

#bookatableBtn {
    background-color: #AF473C;
    border: 2px solid #AF473C;
    color: white;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
    display: block;
    font-size: 1.2em;
}

#bookatableBtn:hover {
    background-color: white;
    border: 2px solid white;
    color: #AF473C;
}


/* menu page */

#menuwrapper {
    width: 1200px;
    margin: 0 auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    display: block;
    margin-left: -10px;
}

td {
    border: 1px solid black;
}

.dishType {
    width: 20px;
    padding-left: 10px;
}

.dishName {
    width: 500px;
    font-size: 1.2em;
    color: white;
}

.dishPrice {
    width: 80px;
    padding-left: 2px;
    text-align: right;
    font-size: 1.2em;
    color: white;
}

.dishDescr {
    font-size: 1em;
    color: darkgrey;
}

img {
    height: 25px;
    width: 25px;
    margin-right: 3px;
}

#starterSection,
#mainfoodSection,
#dessertSection,
#drinkSection {
    width: 1200px;
    color: white;
    margin: 0 auto;
}

.table-left {
    width: 49.5%;
    float: left;
    margin: 0 auto;
}

.table-right {
    width: 49.5%;
    float: right;
    margin: 0 auto;
}

#starterSection {
    height: 500px;
}

#mainfoodSection {
    height: 300px;
}

#dessertSection {
    height: 500px;
}

#drinkSection {
    height: 1000px;
    clear: both;
    margin-top: 10px;
}

#starterSection h1,
#mainfoodSection h1,
#dessertSection h1,
#drinkSection h1 {
    margin: 10px auto;
    text-align: center;
    color: white;
}

hr {
    margin: 10px;
}

.left {
    float: left;
}

.right {
    float: left;
}


/* note contact page */


/* note mapSection*/

#mapSection {
    background-color: white;
    width: 100%;
    height: 450px;
}

table {
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    border: 1px solid transparent;
}

map td {
    border: 2px solid white;
}

table th {
    font-size: 1.6em;
    color: #AF473C;
}


/*note reservationform1*/

#reservation-container1 {
    width: 100%;
    background-color: white;
    padding-bottom: 30px;
    border-bottom: 5px solid #AF473C;
    border-top: 5px solid #AF473C;
}

.step1 {
    width: 120px;
    height: 30px;
    background-color: white;
    border: 2px solid #AF473C;
    margin: 5px auto 20px auto;
    padding: 3px;
}

.step1 h2 {
    color: #AF473C;
    text-align: center;
    margin: auto 0;
}

.reserveform1 {
    background-color: white;
    border-color: transparent;
    width: 70%;
    margin: 0 auto;
    padding: 10px 20px;
}

.reserveform1 label {
    color: #AF473C;
    margin: 5px 5px 20px 20px;
    font-size: 1.2em;
}

.reserveform1 fieldset {
    border-style: none;
}

.reserveform1 legend {
    text-align: center;
    padding: 2px 5px 0 0;
    margin: 10px auto;
}

.reserveform1 legend h1 {
    color: #AF473C;
    text-align: center;
    font-weight: 400;
}

.reserveform1 p {
    color: dimgrey;
    text-align: center;
    margin: 0 auto 10px auto;
}

reserveform1 fieldset:nth-child(1) {
    margin-left: 35px
}

.reserveform1 select,
.reserveform1 input[type=date],
.reserveform1 input[type=time] {
    height: 40px;
    width: 23%;
    border-style: none;
    border: 1px solid #a0a0a0;
    font-size: 1em;
    margin-left: 15px;
    color: dimgrey;
}

.reserveform1 input[type=date],
.reserveform1 input[type=time] {
    border-radius: 4px;
    padding-left: 10px;
}

.reserveform1 input[type=submit] {
    height: 40px;
    width: 15%;
    background-color: #AF473C;
    color: white;
    margin: 1px 0 0 50px;
    border: 2px solid #AF473C;
    border-radius: 4px;
    font-size: 1.2em;
    text-align: center center;
    padding: 2px;
}

.reserveform1 input[type=submit]:hover {
    background-color: white;
    color: #AF473C;
    margin: 1px 0 0 50px;
    border: 2px solid #AF473C;
    border-radius: 4px;
}


/*note reservationform2*/

#reservation-container2 {
    width: 100%;
    background-color: #AF473C;
    padding-bottom: 30px;
}

.reserveform2 .step1 {
    width: 120px;
    height: 30px;
    background-color: white;
    border: 2px solid white;
    margin: 5px auto 20px auto;
    padding: 3px;
}

.reserveform2 .step1 h2 {
    color: #AF473C;
    text-align: center center;
    margin: auto 0;
}

.reserveform2 {
    background-color: #AF473C;
    border-color: transparent;
    width: 70%;
    margin: 0 auto;
    padding: 10px 20px;
}

.reserveform2 label {
    color: #AF473C;
    margin: 5px 5px 20px 20px;
    font-size: 1.2em;
}

.reserveform2 fieldset {
    border-style: none;
}

.reserveform2 p {
    color: dimgrey;
    text-align: center;
    margin: 0 auto 10px auto;
}

reserveform2 fieldset:nth-child(1) {
    margin-left: 35px
}

.reserveform2 input[type=text],
.reserveform2 input[type=email],
.reserveform2 input[type=tel] {
    height: 40px;
    width: 30%;
    border-radius: 4px;
    border: 1px solid #a0a0a0;
    font-size: 1em;
    margin-left: 10px;
    color: dimgrey;
}

li {
    list-style-type: none;
    margin-left: 5px;
    color: white;
    margin: 5px 5px 5px 10px;
}

input[type=checkbox] {
    padding: 10px 10px 10px 10px;
}

.reserveform2 input[type=submit] {
    height: 40px;
    width: 80%;
    background-color: #AF473C;
    color: white;
    display: block;
    margin: 10px auto;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 1.2em;
    text-align: center center;
    padding: 2px;
}

.reserveform2 input[type=submit]:hover {
    background-color: white;
    color: #AF473C;
    margin: 10px auto;
    border: 2px solid #AF473C;
}


/*note contactForm*/

#contact-container {
    width: 100%;
    background-color: white;
    padding: 20px 0 50px 0;
}

.contactform fieldset {
    width: 65%;
    background-color: #AF473C;
    border-radius: 5px;
    margin: 0 auto;
    border-style: none;
}

.contactform legend {
    text-align: center;
    padding: 2px 5px 0 0;
    margin: 0 auto;
}

.contactform h1 {
    color: white;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

.contactform p {
    color: white;
    text-align: center;
    margin: 0 20px 10px 20px;
}

.contact-left {
    float: left;
    width: 50%;
}

.contact-right {
    float: right;
    width: 50%;
}

.contactform select,
.contactform input[type=text],
.contactform input[type=email],
.contactform input[type=tel] {
    height: 45px;
    width: 90%;
    border-style: none;
    font-size: 1em;
    margin: 10px auto 10px auto;
    color: dimgrey;
    border-radius: 4px;
    display: block;
    padding-left: 5px;
}

.contactform label {
    color: white;
    margin-left: 5px;
    font-size: 1em;
}

.contactform input[type=radio] {
    margin: 5px 0 10px 25px;
    color: red;
}

textarea {
    width: 90%;
    height: 230px;
    font-size: 1em;
    display: block;
    border-radius: 4px;
    border-style: none;
    margin: 10px auto;
    padding-left: 5px;
    padding-top: 10px;
    resize: none;
}

.contactform input[type=submit] {
    width: 96%;
    height: 40px;
    background-color: white;
    color: #AF473C;
    border-radius: 4px;
    border: 3px solid #AF473C;
    font-size: 1.2em;
    text-align: center center;
    padding-left: 5px;
    display: block;
    margin: 10px auto;
}

.contactform input[type=submit]:hover {
    background-color: #AF473C;
    color: white;
    border: 3px solid white;
}


/* note thankSection*/

#thankSection {
    width: 100%;
    height: 300px;
    padding: 50px auto;
    background-color: white;
    margin: 0 auto;
}

#thankSection h1 {
    color: #AF473C;
    text-align: center;
    padding-top: 50px;
}


/* note footer */

#footerSection {
    width: 100%;
    height: 300px;
    clear: both;
}

.servicetime {
    padding-top: 10px;
    margin: 0 auto;
    width: 50%;
    float: left;
}

.servicetime h2,
.servicetime p {
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.socialmedias {
    padding-top: 10px;
    margin: 0 auto;
    width: 50%;
    float: right;
}

.socialmedias h2 {
    text-align: center;
    margin: 20px 20px 20px 20px;
}


/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #5c5c5c;
    color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 10px 5px 10px 5px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
}


/* Instagram */

.fa-instagram {
    background: #5c5c5c;
    color: white;
    padding: 20px;
    margin: 10px 5px 10px 5px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


/* Yelp */

.fa-yelp {
    background: #5c5c5c;
    color: white;
    padding: 20px;
    margin: 10px 5px 10px 5px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.copyright {
    height: 50px;
    line-height: 50px;
    background-color: #000;
    color: white;
    margin: 0 20px 10px 20px;
    clear: both;
}

.valid a {
    margin: 15px auto;
    overflow: hidden;
    margin: 0 auto;
}

.valid a {
    color: white;
    font-size: 1.6em;
}
