<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="assets/js/bootstrap.min.js"></script>
    

    <!-- Angular JS -->
    <script src="angular.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">


    <link href="assets/css/w3school.css" rel="stylesheet">
    <script src="dist/ngCart.js"></script>
    <script src="cart.js"></script>
</head>

<body ng-app="cartApp" ng-controller="myCtrl">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Peter Wu</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="projects.html">PROJECTS</a></li>
            <li class="dropdown">
              <a href="x" class="dropdown-toggle" data-toggle="dropdown">INTERESTS<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="sport.html">SPORT</a></li>
                <li><a href="#/music/">MUSIC</a></li>
                <li><a href="travel.html">TRAVEL</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div id="white">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-10 col-xs-4">
                    <h3><a href="checkout.html" class="glyphicon glyphicon-shopping-cart"></a></h3>
                    <ngcart-summary></ngcart-summary>
                </div>
            </div>
            <hr/>

            <div ng-repeat="i in nums">
                <br>
                <div class="row">
                    <div ng-repeat="product in products.slice(i*4, (i+1)*4)">
                        <div class="col-xs-6 col-sm-3">
                            <img style="width:250px; height:300px" ng-src={{product.img}}></img>
                            <h4>{{product.name}}</h4>
                            <h3 style="color:#216C2A">${{product.price}}</h3>
                            <ngcart-addtocart id={{product.id}} name={{product.name}} price={{product.price}} quantity="1" quantity-max={{product.maxQuantity}}>Add to Cart</ngcart-addtocart>
                        </div>
                    </div>
                </div>
                <br>
            </div>
                

            <div class="row" ng-show="false">
                <div class="col-md-12">
                    
                <h3>Checkout <span> (ngcart-checkout)</span></h3>
                    
                    
                    <div class="row">
                <div class="col-xs-4">
                    <h4>service 'log'</h4>
                    <ngcart-checkout service="log">Checkout</ngcart-checkout>
                </div>
                <div class="col-xs-4">
                    <h4>service 'http'</h4>
                    <ngcart-checkout service="http" settings="httpSettings">Checkout </ngcart-checkout>
                </div>
                <div class="col-xs-4">
                    <h4>service 'paypal'</h4>
                    <ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout>
                </div>
            </div>
                    
                    </div>
                </div>

            <a href="projects.html" style="float:right" class="w3-btn w3-black w3-ripple">Back</a>
        </div>
    </div>


        <!-- *****************************************************************************************************************
     FOOTER
     ***************************************************************************************************************** -->
     <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>About</h4>
                    <div class="hline-w"></div>
                    <p>I am a highly motivated, hard-working and quick-learning graduate student in Electrical and Computer Engineering with ability to articulate complex subject matter.</p>
                </div>
                <div class="col-lg-4">
                    <h4>Social Links</h4>
                    <div class="hline-w"></div>
                    <p>
                        <a href="https://www.facebook.com/profile.php?id=100000125777426"><i class="fa fa-facebook"></i></a>
                        <a href="http://www.linkedin.com/pub/jie-ping-wu/a7/752/b51/en"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/peterwu77/"><i class="fa fa-instagram"></i></a>
                        <a href="https://github.com/melo5566?tab=overview&from=2016-08-01&to=2016-08-31&utf8=%E2%9C%93"><i class="fa fa-github"></i></a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4>Contact Me</h4>
                    <div class="hline-w"></div>
                    <p>
                        Phone: 734-639-0001<br/>
                        Email: jieping@umich.edu<br/>
                    </p>
                </div>
            
            </div>
        </div>
     </div>

        <!--  TEMPALATES -->
        <!--  TEMPALATES -->
        <!--  TEMPALATES -->

        <script type="text/ng-template" id="template/ngCart/summary.html">
            <div class="row">
                <div class="col-md-6">{{ ngCart.getTotalItems() }}
                    <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
                    <br />{{ ngCart.totalCost() | currency }}
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="template/ngCart/addtocart.html">
            <div ng-hide="attrs.id">
                <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

            </div>
            <div ng-show="attrs.id">
                <div>
                    <span ng-show="quantityMax">
                        <select name="quantity" id="quantity" ng-model="q"
                                ng-options=" v for v in qtyOpt"></select>
                    </span>
                    <a class="btn btn-sm btn-primary"
                       ng-click="ngCart.addItem(id, name, price, q, data)"
                       ng-transclude></a>
                </div>
                <mark  ng-show="inCart()">
                    This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
                </mark>
            </div>
        </script>

        <script src="assets/js/custom.js"></script>

</body>
</html>







