<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="dist/ngCart.js"></script>
    <script src="cart.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container">            
        <div ng-show="true">
            <hr/>
            <h2>My Shopping Cart</h2>
            <ngcart-cart></ngcart-cart>
            <hr/>
        </div>
    </div>   
            


        <!--  TEMPALATES -->
        <!--  TEMPALATES -->
        <!--  TEMPALATES -->


        <script type="text/ng-template" id="template/ngCart/cart.html">
            <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
                Your cart is empty
            </div>

            <div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

                <table class="table table-striped ngCart cart">

                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr ng-show="ngCart.getTax()">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
                        <td>{{ ngCart.getTax() | currency }}</td>
                    </tr>
                    <tr ng-show="ngCart.getShipping()">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Shipping:</td>
                        <td>{{ ngCart.getShipping() | currency }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td>{{ ngCart.totalCost() | currency }}</td>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr ng-repeat="item in ngCart.getCart().items track by $index">
                        <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

                        <td>{{ item.getName() }}</td>
                        <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                                  ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                            {{ item.getQuantity() | number }}&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
                        <td>{{ item.getPrice() | currency}}</td>
                        <td>{{ item.getTotal() | currency }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button style="float:left" class="w3-btn w3-blue w3-ripple" ng-disabled="ngCart.getTotalItems() === 0" ng-click="checkout()">Checkout</button>
                <a href="cart.html" style="float:right" class="w3-btn w3-black w3-ripple">Back to shop</a>
            </div>

        </script>


</body>
</html>







