<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Peter Wu</title>

    <!-- Angular JS -->
    <script src="angular.min.js"></script>


    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="assets/css/timeline.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<style>
  	.carousel-inner > .item > img,
  	.carousel-inner > .item > a > img {
      	width: 70%;
      	margin: auto;
  	}
  	</style>

    
    <script src="assets/js/modernizr.js"></script>
  </head>

<body ng-app="myApp" ng-controller="EditController">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Peter Wu</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
          	<li><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="projects.html">PROJECTS</a></li>
            <li class="dropdown">
              <a href="x" class="dropdown-toggle" data-toggle="dropdown">INTERESTS<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="sport.html">SPORT</a></li>
                <li><a href="#/music/">MUSIC</a></li>
                <li><a href="#/travel/">TRAVEL</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	 

	<div id="white">
		<div class="w3-container">
			<h3>Edit:</h3>
			<label>First Name:</label>
			<input class="w3-input w3-border" type="text" ng-model="fName" placeholder="First Name">
			<br>
			<label>Last Name:</label>
			<input class="w3-input w3-border" type="text" ng-model="lName" placeholder="Last Name">
			<br>
			<label>Title:</label>
			<input class="w3-input w3-border" type="text" ng-model="title" placeholder="title">
			<br>
			<label>Age:</label>
			<input class="w3-input w3-border" type="number" ng-model="age" placeholder="age">
			<br>
			<label>Sex:</label><br>
			<input type="radio" ng-model="sex" value="Male">Male<br>
			<input type="radio" ng-model="sex" value="Female">Female<br>
			<br>
			<a href="user.html" class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete" ng-click="saveChange()">&#10004; Save Changes</a>
		</div>
	</div>


	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 
	 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/retina-1.1.0.js"></script>
	<script src="assets/js/jquery.hoverdir.js"></script>
	<script src="assets/js/jquery.hoverex.min.js"></script>
	<script src="assets/js/jquery.prettyPhoto.js"></script>
  	<script src="assets/js/jquery.isotope.min.js"></script>
  	<script src="assets/js/custom.js"></script>


    <script src="website.js"></script>
  </body>
</html>
