<div id="white">
	<div class="w3-container">
		<h3>Edit:</h3>
		<label>First Name:</label>
		<input class="w3-input w3-border" type="text" ng-model="fName" placeholder="First Name">
		<br>
		<label>Last Name:</label>
		<input class="w3-input w3-border" type="text" ng-model="lName" placeholder="Last Name">
		<br>
		<label>Title:</label>
		<input class="w3-input w3-border" type="text" ng-model="title" placeholder="title">
		<br>
		<label>Age:</label>
		<input class="w3-input w3-border" type="number" ng-model="age" placeholder="age">
		<br>
		<label>Sex:</label><br>
		<input type="radio" ng-model="sex" value="Male">Male<br>
		<input type="radio" ng-model="sex" value="Female">Female<br>
		<br>
		<label>Password:</label>
		<input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password">
		<br>
		<label>Repeat:</label>
		<input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
		<br>
		<button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete" ng-click="saveChange()">&#10004; Save Changes</button>
	</div>
</div>