<div id="service">
		<div class="container">
			<div class="row centered">
 				<div class="col-md-6">
 					<h1>User Management System</h1>
 					<p style="font-size:18px">“PChat” is a location-based social network that is sort of a blend of Yik-Yak and Tinychat. The first feature of the application is the ability creates their own chatrooms that are only accessible by people with the app in a certain radius. The second feature is a forum where users can post any news or content in three categories: Sports, Academics, and Games.</p>
 					<p><br/><a href="#/user/" class="btn btn-theme">Try It</a></p>
 				</div>
 				<div class="col-md-6">
 					<img src="assets/img/projects/user/pro.png"></img>
 				</div>
	 		</div>
	 		<p>
	 		<div class="hline" style="padding-top:20px"></div>
 			<div class="row centered">
 				<div class="col-md-6">
 					<img src="assets/img/projects/pchat/placeit.png"></img>
 				</div>
 				<div class="col-md-6">
 					<h1 style="padding-top:20px">PChat Social Network</h1>
 					<p style="font-size:18px">“PChat” is a location-based social network that is sort of a blend of Yik-Yak and Tinychat. The first feature of the application is the ability creates their own chatrooms that are only accessible by people with the app in a certain radius. The second feature is a forum where users can post any news or content in three categories: Sports, Academics, and Games.</p>
 					<p><br/><a href="#/pchat/" class="btn btn-theme" ng-click="scrollToTop()">More Info</a></p>
 				</div>
	 		</div>
	 		<p>
	 		<div class="hline"></div>
	 		<div class="row centered">
 				<div class="col-md-6">
 					<h1 style="padding-top:50px">Red String</h1>
 					<p style="font-size:18px">RedString is a platform for EVERYONE to play matchmaker - either match themselves or connect their single friends together.</p>
 					<p><br/><a href="https://redstringmatch.com/" class="btn btn-theme">More Info</a></p>
 					
 				</div>
 				<div class="col-md-6">
 					<img src="assets/img/projects/Redstring/imac.png"></img>
 				</div>
	 		</div>
	 		<div class="hline"></div>
	 		<div class="row centered">
 				<div class="col-md-6">
 					<img src="assets/img/projects/Facenews/htc.png"></img>
 				</div>
 				<div class="col-md-6">
 					<h1 style="padding-top:50px">Face News</h1>
 					<p style="font-size:18px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<p><br/><a href="http://app-1037744830.appstor.io/" class="btn btn-theme">More Info</a></p>
 				</div>
	 		</div>
	 		<div class="hline"></div>
	 		<div class="row centered">
 				<div class="col-md-6" style="padding-top:15px">
 					<h1>Calculator</h1>
 					<p style="font-size:18px">“PChat” is a location-based social network that is sort of a blend of Yik-Yak and Tinychat. The first feature of the application is the ability creates their own chatrooms that are only accessible by people with the app in a certain radius. The second feature is a forum where users can post any news or content in three categories: Sports, Academics, and Games.</p>
 				</div>
 				<div class="col-md-6" style="padding-top:25px">
 					<div class="container-fluid" style='width: 500px; margin: auto; font-size: 50px; background-color: lightgray'>
						<div class='row' style='background-color: lightgreen; height: 80px; line-height: 80px; font-size: 50px;'>
							<div class='col-sm-6' style='text-align:left'>{{num}}</div>
							<div class='col-sm-6' style='text-align:right'>{{operator}}</div>
						</div>
						<div class='row'>
							<button class='col-sm-2' ng-click='add("7")'>7</button>
							<button class='col-sm-2' ng-click='add("8")'>8</button>
							<button class='col-sm-2' ng-click='add("9")'>9</button>
							<button class='col-sm-3' ng-click='sign()' ng-disabled='state!=="digit"'>+-</button>
							<button class='col-sm-3' ng-click='cancel()'>C</button>
						</div>
						<div class='row'>
							<button class='col-sm-2' ng-click='add("4")'>4</button>
							<button class='col-sm-2' ng-click='add("5")'>5</button>
							<button class='col-sm-2' ng-click='add("6")'>6</button>
							<button class='col-sm-3' ng-click='add("-")' ng-disabled='state!=="digit"'>-</button>
							<button class='col-sm-3' ng-click='add("x")' ng-disabled='state!=="digit"'>x</button>
						</div>
						<div class='row'>
							<button class='col-sm-2' ng-click='add("1")'>1</button>
							<button class='col-sm-2' ng-click='add("2")'>2</button>
							<button class='col-sm-2' ng-click='add("3")'>3</button>
							<button class='col-sm-3' ng-click='add("+")' ng-disabled='state!=="digit"'>+</button>
							<button class='col-sm-3' ng-click='add("/")' ng-disabled='state!=="digit"'>/</button>
						</div>
						<div class='row'>
							<button class='col-sm-2' ng-click='add("0")'>0</button>
							<button class='col-sm-4' ng-click='add("00")' ng-disabled='state!=="digit"'>00</button>
							<button class='col-sm-3' ng-click='add(".")' ng-disabled='state!=="digit" || point'>.</button>
							<button class='col-sm-3' ng-click='equal()' ng-disabled='state!=="digit"'>=</button>
						</div>
					</div>
 				</div>
	 		</div>
	 		<p>
	 	</div>
	 </div>