<div id="white">
	<div class="container">
		<div class="row">
	  			<div class="col-md-3" id="leftCol">
					<div class="well" style="position: fixed; width:250px"> 
		              	<ul class="nav nav-stacked nav-pills" id="sidebar">
		                  <li id='ice1' class="active"><a href="" data-toggle="tab" ng-click="gotoElement('ice')">Ice Hockey</a></li>
		                  <li id='baseball1'><a href="" data-toggle="tab" ng-click="gotoElement('baseball')">Baseball</a></li>
		                  <li id='judo1'><a href="" data-toggle="tab" ng-click="gotoElement('judo')">Judo</a></li>
		                  <li id='basketball1'><a href="" data-toggle="tab" ng-click="gotoElement('basketball')">Basketball</a></li>
		                  <li id='ski1'><a href="" data-toggle="tab" ng-click="gotoElement('ski')">Ski</a></li>
		                  <li id='bowling1'><a href="" data-toggle="tab" ng-click="gotoElement('bowling')">Bowling</a></li>
		              	</ul>
	  				</div>

	      		</div>  
	      		<div class="col-md-9">
	              	<h2 id="ice">Ice Hockey</h2>
	              	<img src="assets/img/sport/crosby.jpg">
	               	<p>
	              	Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
	                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut. Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
	                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
	              	
	              
	              
	              	<h2 id="baseball">Baseball</h2>
	              	<img src="assets/img/sport/chen.jpg">
	              	<p>
	              	<div class="row">
	                  <div class="col-md-6">
	                    <div class="panel panel-default">
	                      <div class="panel-heading"><h3>Hello.</h3></div>
	                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	                      Aliquam in felis sit amet augue.
	                      </div>
	                    </div>
	                  </div>
	                  <div class="col-md-6">
	                      <div class="panel panel-default">
	                      <div class="panel-heading"><h3>Hello.</h3></div>
	                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	                      Aliquam in felis sit amet augue.
	                      </div>
	                    </div>
	                  </div>  
	              	</div>
	              
	              	<hr>
	              
	              	<h2 id="judo">Judo</h2>
	              	<img src="assets/img/sport/judo.jpg" style="width:40%">
	              	<p>
	                Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
	                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
	                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
	                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
	                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
	              	</p>
	              	<div class="row">
	              		<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
	                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
	                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
	              	</div>
	              
	              	<hr>
	              
	              	<h2 id="basketball">Basketball</h2>
	              	<img src="assets/img/sport/warrior.jpg">
	      			Images are responsive sed @mdo but sum are more fun peratis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
	                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
	                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
	                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
	                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
	                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..
	              	<br>
	                Fos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
	                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
	                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..
	              
	              
	              	<h1 id="ski">Ski</h1>
	              	<img src="assets/img/sport/ski.jpg" style="width:40%">
	              	<p>

	                <h1 id="bowling">Bowling</h1>
	                <img src="assets/img/sport/bowling.jpg" style="width:40%">
	      		</div> 
	  	</div>
	</div>
</div>
